<ul>
    <li><a href="/">HOME</a></li>
    <li><a href="/login">LOGIN</a></li>
    <li><a href="/reg">REGISTER</a></li>
    <li><a href="/post">POST</a></li>
    <li><a href="/logout">LOGOUT</a></li>
</ul>