<%- include header %>
    <form>
      <input type="text" placeholder="标题">
      <textarea placeholder="正文"rows="3" cols="20">
      </textarea>
      <input type="submit">
    </form>
<%- include footer %>